/.Module.symvers.cmd
/.demo.ko.cmd
/.demo.mod.cmd
/.demo.mod.o.cmd
/.demo.o.cmd
/.hello.ko.cmd
/.hello.mod.cmd
/.hello.mod.o.cmd
/.hello.o.cmd
/.modules.order.cmd
/.vscode
/Module.symvers
/backup
/demo.ko
/demo.mod
/demo.mod.c
/demo.mod.o
/demo.o
/hello.ko
/hello.mod
/hello.mod.c
/hello.mod.o
/hello.o
/mm
/modules.order